<%- include('../partials/header') %>

<h2>Tradycje firmowe</h2>
<h3>Jesteśmy firmą o bogatej historii i tradycjach. Zaczęliśmy swoją przygodę jeszcze w 2023 roku. Cenimy sobie <b>otwartość, buzzwordy i recyklingowane idee.</b></h3>

</br>

<h2>Inteligentny design</h2>
<h3>Przyciągamy do siebie klientów z całego świata, dzięki naszemu powtarzalnemu, łatwemu do sprzedania designowi. Zawsze dajemy z siebie wszystko, kiedy designujemy to samo pięćdziesiąty raz.</b></h3>

</br>

<h2>Międzynarodowe kontakty</h2>
<h3>Cenimy sobie zagranicznych pracowników. Nasza firma posiada istotne oddziały na Filipinach, Malediwach i we Francji. Wierzymy, że praca ponad podziałami kulturowymi to ta najbardziej produktywna, choć <b>nigdy, przenigdy nie zapłacilibyśmy normalnej stawki Filipińczykowi.</b></h3>

<h1>I TO DLATEGO DOSTARCZAMY PAŃSTWU HR PRO MAX!</h1>

<img src="/img/aboutpageimg.png">

<%- include('../partials/footer') %>
