<%- include('../partials/header') %>

<h2>Pracownik <i>usunięty</i> pomyślnie!</h2>
<img src="/img/deletepageimg.png" id="deletepageimg">
<p><a href="/">Wróć do listy</a></p>

<%- include('../partials/footer') %>
