<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>HR PRO MAX</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<header>
    <h1>| HR PRO MAX EXTENDED ED: ULTRA POWER TRIP TOOL | RELEASE 41.6.87 |</h1>
    <nav>
        <a href="/">Lista</a> |
        <a href="/add"> Rekrutacje</a> |
        <a href="/about"> O nas</a>
    </nav>
    <hr>
</header>
